<div class="container mb-5 h-100">
  <div class="d-flex h-100 col-11 col-md-8 col-lg-7 col-xl-6 m-auto">
    <form
      class="bg-body-secondary my-auto w-100 border border-1 py-3 rounded shadow needs-validation"
      novalidate
      action="login.php"
      method="POST"
    >
      <span
        class="position-absolute fs-1 ms-3 text-primary-emphasis"
        style="rotate: 25deg"
      >
        <i class="bi bi-key-fill"></i>
      </span>

      <h2 class="text-center my-4 text-primary">Logowanie</h2>

      <div class="col-11 col-lg-10 mx-auto">
        <hr />
      </div>

      <div class="col-10 col-lg-8 mx-auto">
        <div class="input-group has-validation mb-4 shadow">
          <span class="input-group-text rounded-end-0">
            <i class="bi bi-envelope-fill fs-4 cs-fw"></i>
          </span>
          <div class="form-floating">
            <input
              required
              type="email"
              pattern="^[\w\-\.]+@([\w-]+\.)+[\w-]{2,}$"
              class="form-control"
              name="userEmail"
              id="userEmail"
              placeholder="Adres e-mail"
            />
            <label for="userEmail">Adres e-mail</label>
            <div class="invalid-tooltip">
              Proszę wpisać poprawny adres e-mail.
            </div>
          </div>
        </div>

        <div class="input-group has-validation mb-3 shadow">
          <span class="input-group-text rounded-end-0">
            <i class="bi bi-unlock-fill fs-4 cs-fw"></i>
          </span>
          <div class="form-floating">
            <input
              required
              type="password"
              class="form-control"
              name="userPassword"
              id="userPassword"
              placeholder="Hasło"
            />
            <label for="userPassword">Hasło</label>
            <div class="invalid-tooltip">Proszę wpisać hasło.</div>
          </div>
        </div>

        <button type="submit" class="btn btn-primary w-100 my-4 shadow">
          Zaloguj
        </button>

        <div class="text-muted">
          Lub zarejestruj się
          <a href="register.php">tutaj</a>
        </div>
      </div>
    </form>
  </div>
</div>
